# Variáveis para conexão com supabase
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Segredos
JWT_SECRET=super_secret_for_development

# Configurações de E-mail (SMTP)
# Se estas variáveis não forem configuradas, o sistema usará o Ethereal Email em ambiente de desenvolvimento.
BREVO_SMTP_LOGIN=
BREVO_SMTP_KEY=
SMTP_FROM_EMAIL=noreply@contact.ssimoveisbrasil.app
