# Variáveis para conexão com supabase
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Segredos
JWT_SECRET=super_secret_for_development

# Configurações de E-mail (SMTP)
# Se estas variáveis não forem configuradas, o sistema usará o Ethereal Email em ambiente de desenvolvimento.
SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=ac20b3001@smtp-brevo.com
SMTP_PASS=
SMTP_FROM_EMAIL=noreply@contact.ssimoveisbrasil.app
